<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Galaxy.dao.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.example.Galaxy.entity.SysRole">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        <result column="enabled" jdbcType="INTEGER" property="enabled"/>
        <result column="create_by" jdbcType="BIGINT" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="userRole" type="com.example.Galaxy.entity.SysRole" extends="BaseResultMap">
        <collection property="privilegeList" resultMap="com.example.Galaxy.dao.SysPrivilegeMapper.BaseResultMap"/>
    </resultMap>
    <resultMap id="roleWithPrivilegeSelect" type="com.example.Galaxy.entity.SysRole" extends="BaseResultMap">
        <collection property="privilegeList"
                    column="{roleId=r.id}"
                    select="com.example.Galaxy.dao.SysPrivilegeMapper.selectPrivilegeByRoleId"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, role_name, enabled, create_by, create_time, update_time
  </sql>
    <insert id="insert" parameterType="com.example.Galaxy.entity.SysRole">
    insert into sys_role (id, role_name, enabled, 
      create_by, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR}, #{enabled,jdbcType=INTEGER}, 
      #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.Galaxy.entity.SysRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="roleName != null">
                role_name,
            </if>
            <if test="enabled != null">
                enabled,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="roleName != null">
                #{roleName,jdbcType=VARCHAR},
            </if>
            <if test="enabled != null">
                #{enabled,jdbcType=INTEGER},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="selectRoleWithPrivilegeByUserId" resultMap="roleWithPrivilegeSelect">
        select
        <include refid="Base_Column_List"/>
        from sys_role r
        inner join sys_user_role ur on ur.role_id = r.id
        where ur.user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="selectAllRoleWIthPrivilege" resultMap="roleWithPrivilegeSelect">
        select
        <include refid="Base_Column_List"/>
        from sys_role r
    </select>

</mapper>